<p>Event Dashboard</p>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time in Words</th>
    </thead>
    <tbody>
        <tr *ngFor = "let event of events">
            {{ event.id }} 
            <td>
                {{ event.name }}
            </td>
            <td>
                {{ event.location }}
            </td>
            <td>
                {{ event.date }}
            </td>
            <td>
                {{ event.hourWord }}
            </td>
            
        </tr>
        
    </tbody>
</table>
