<p>Event Dashboard</p>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time in Words</th>
    </thead>
    <tbody>
        <tr *ngFor = "let event of events">
            {{ event.id }} 
            <td>
                {{ event.name }}
            </td>
            <td>
                {{ event.location }}
            </td>
            <td>
                {{ event.date }}
            </td>
            <td>
                {{ event.hourWord }}
            </td>
            
        </tr>
        
    </tbody>
</table>
<div>
    <form onsubmit="getTimeInWords(hour, minute)">
        <label for="hour">Hour:</label><br>
        <input class="form-control" id="hour" required
            [(ngModel)]="this.hour" name="hour"><br><br>
        <label for="minute">Minute:</label><br>
        <input class="form-control" id="minute" required
            [(ngModel)]="this.minute" name="minute"><br><br>
            <input type="submit" value="Submit">
      </form> 
    
</div>
<div>Time in Words below!</div>
<div>{{ timeInWords }}</div>